__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/

# checkpoint files
output/
output_train_1st_att/
output_train_2nd_att/
output_train_3rd_att/
output_train_selected_att/
red_result/
data/
.idea/
.ipynb_checkpoints/

.DS_Store
*.pyc
*.sh
